{% extends "home/base.html" %}

{% block  content%}
  
<header class="hero">
    <h1>{{ home.title}}</h1>
    <p>{{ home.subtitle }}</p>
    <a href="{{ home.link_btn }}" class="btn btn-light btn-lg mt-3">{{ home.text_btn }}</a>
  </header>

  <main class="container my-5">
    <section class="text-center">
      <h2 class="mb-5">{{ home.title_topics }}</h2>
      <p class="mb-5">{{ home.subtitle_topics }}</p>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card shadow border-light">
            <div class="card-body">
              <h5 class="card-title mb-3">{{ home.title_topic_one }}</h5>
              <p class="card-text">{{ home.description_topic_one }}olá</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card shadow border-light">
            <div class="card-body">
              <h5 class="card-title mb-3">{{ home.title_topic_two }}</h5>
              <p class="card-text">{{ home.description_topic_two }}moça</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card shadow border-light">
            <div class="card-body">
              <h5 class="card-title mb-3">{{ home.title_topic_three }}</h5>
              <p class="card-text">{{ home.description_topic_three }}bonita</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}

